{% if not table.filters.empty() %}
    <div id="filters" class="m-6 p-3 bg-white">
        {{ form_open({'method': 'get', 'id': 'filters', 'url': url_full(), 'class': 'm-0 flex flex-overflow'}) }}
        <input type="hidden" name="{{ table.options.prefix }}limit" value="{{ table.options.limit }}">
        <input type="hidden" name="{{ table.options.prefix }}view" value="{{ table.views.active().getSlug() }}">
        <input type="hidden" name="{{ table.options.prefix }}page" value="1">

        {% for filter in table.filters %}
            <div class="filter p-3">
                {{ filter.input|raw }}
            </div>
        {% endfor %}

        <button type="submit" class="m-3 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            {{ icon(table.options.filters.filter_icon ?: 'filter') }}
            {{ trans(table.options.filters.filter_text ?: 'streams::button.filter') }}
        </button>
        <a href="{{ url_current() }}{{ request_has('view') ? '?view=' ~ request_get('view') }}" class="m-3 text-gray-300 hover:text-gray-500 focus:text-gray-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-all">
            {{ icon(table.options.filters.clear_icon ? table.options.filters.clear_icon) }}
            {{ trans(table.options.filters.clear_text ?: 'streams::button.clear') }}
        </a>
        {{ form_close() }}
    </div>
{% endif %}
