{% if not table.views.empty() %}
    <div class="m-6 px-5 py-3 bg-white rounded">

        {% for view in table.views %}
            <a
                    class="px-3 py-2 text-gray-300 hover:bg-gray-100 transition-all rounded {{ view.class }} {{ view.isActive() ? 'text-blue-500' }}"
                    {{ html_attributes(view.attributes) }}>
                {{ view.icon ? icon(view.icon)|raw }}
                {{ trans(view.getText()) }}

                {% if view.label %}
                    <span class="tag tag-{{ view.context }}">
                                {{ trans(view.label)|raw }}
                            </span>
                {% endif %}

            </a>
        {% endfor %}

    </div>
{% endif %}
